@media all and (orientation:portrait) {}

@media all and (orientation:landscape) {
    #scrolling {
        display: block;
        width: 50vw;
        margin: auto;
        padding-top: 100px;
    }
}



.bimgs {
    transform: translate(-50%, 25%);
    width: 60%;
    margin-left: 50%;
    transition: 2s;
}

.bimgs:hover {
    transform: translate(-50%, 10%);
    width: 80%;
    transition: 2s;
}

#divPI {
    transform: translate(-50%, 0);
    margin-left: 50%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 70vh;
}

.mimgs {
    width: 100%;
}



#lema {
    transform: translate(-50%, -50%);
    margin-left: 50%;
    font-size: 9vh;
    text-align: left;
    font-family: 'Andromeda';
    transition: 1s;
    font-weight: 200;
}

#lema:hover {
    transition: 1s;

}


html {
    scroll-snap-type: y mandatory;
}

#scrolling {
    scroll-snap-type: y mandatory;
}

.sSection {
    scroll-snap-align: center;
    height: 100vh;
}

#section1,
#section2 {
    padding-top: 50vh;
}

#section5 {
    padding-top: 50vh;
}

#Img2 {
    height: 100vh;
}

#sectionOneFive>img {
    width: 50vw;
    transform: translate(0, -50%);
}

#sectionOneFive {
    padding-top: 50vh;
}

#section3 {
    padding-top: 10vh
}

.description {
    transform: translate(0, -50%);
    text-align: center;
    font-size: 6vh;
    transition: 1s;
    font-weight: 200;
}

#section6 {
    padding-top: 50vh;
    padding-left: 10vw;
    padding-right: 10vw;

}

#section7, #section8, #section9, #section10{
    padding-top: 50vh;
}

.divDesc {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    transform: translate(0,-50%);
    align-items: center;
}

.descImg {
    width: 30%;
    border-radius: 5vh;
}

.desc {
    width: auto;
    text-align: center;
    font-size: 6vh;
    font-weight: 200;
    vertical-align: middle;
}

#buyLine{
    font-size: 10vh;
    text-align: center;
    transform: translate(0, -50%);
}

#buyLine>a{
    text-decoration: none;

}