header.menu {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000; /* Altere a cor de fundo conforme necessário */
    color: #fff; /* Altere a cor do texto conforme necessário */
}

header ul {
    display: flex;
    width: 25vw;
    transform: translate(10%, 0);
}

header ul li {
    margin-left: 1vw;
    list-style: none;
}

a.menuSection {
    font-size: 5vw; /* Tamanho de fonte ajustado para orientação portrait */
    transition-duration: 0.5s;
    text-decoration: none;
    color: #fff;
}

a.menuSection:hover {
    transition-duration: 0.5s;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
    letter-spacing: 0.05em;
    color: #57ffdc; /* Altere a cor ao passar o mouse conforme necessário */
}