:root {
    --color1: #57ffdc;
    --color2: #57ffdc;
    --color3: #57ffdc;
    --back1: rgb(255, 255, 255);
    --back2: rgb(0, 0, 0);
}

@media all and (orientation:portrait) {}

@media all and (orientation:landscape) {}

html ::-webkit-scrollbar {
    width: 15px;
}

html ::-webkit-scrollbar-thumb:hover {
    border-radius: 50px;
    background: var(--color2);
    transition: 0.5s;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--color1);
    transition: 0.5s;
}

html ::-webkit-scrollbar-track {
    background: var(--back1);
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--back2);
    background-attachment: fixed;
}

header.menu {

    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

header ul {
    display: flex;
    width: 25vw;
    transform: translate(10%,0);
}

header ul li {
    margin-left: 1vw;
    list-style: none;
}

a.menuSection {
    font-size: 1vw;
    transition-duration: 0.5s;
    text-decoration: none;
    color: var(--back1);
}

a.menuSection:hover {
    transition-duration: 0.5s;
    text-shadow: 0px 0px 3px var(--back2);
    letter-spacing: 0.05em;
    color: var(--color2);
}

#title {
    transform: translate(25%,0);
    transition-duration: 1s;
    font-family: serif monospace;
    font-weight: bolder;
    font-size: 6vh;
    letter-spacing: -0.09em;
    color: var(--back1);
    text-shadow: 3px 3px 3px var(--color1);
    width: 25vw;
}

#title:hover {
    transition-duration: 1s;
    letter-spacing: 0em;
    text-shadow: 1px 1px 4px var(--color2);
}

a.activeMenuSection {
    color: var(--color2);
    font-size: 1.1vw;
    text-decoration: none;
    text-shadow: 0px 0px 3px var(--back2);
}

#scrolling {
    background: var(--back1)
}

#lema {
    color: var(--back2);
    text-shadow: 1px 1px 3px var(--color3);
}

#section1:hover>#lema{
    text-shadow: 1px 1px 2px var(--color1);
}


#scrolling {
    scroll-snap-type: y mandatory;
  }

  .description{
    text-shadow: 2px 2px 1px var(--color1)
  }

  .descImg {
    border:3px solid var(--back2)
  }

  
#buyLine>a{
    color: var(--color1);
}

#MA{
    background-color: var(--back1);
}

body { overflow-x: hidden; }
