:root {
    --color1: rgb(14, 0, 211);
    --color2: rgb(0, 255, 213);
    --color3: rgb(13, 0, 85);
    --back1: rgb(255, 255, 255);
    --back2: rgb(0, 0, 0);
  }

@media all and (orientation:portrait) {

}
@media all and (orientation:landscape) {

}

body {
   
}

html ::-webkit-scrollbar {
    width: 15px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--color1);
  }
  html ::-webkit-scrollbar-track {
    background: var(--back1);
  }
html {
    scroll-behavior: smooth;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(var(--color3), var(--back2));
    background-attachment: fixed;
}

header.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;

}

header ul li{
    margin-left: 1em;
    list-style: none;
}

a.menuSection{       
font-size: 1.4em;
transition-duration:0.5s;
text-decoration: none;
color: var(--back1);
}

a.menuSection:hover{    
transition-duration:0.5s;
text-shadow: 0px 0px 3px var(--back2);
letter-spacing: 0.05em;
color: var(--color2);
}

#title {
    transition-duration:1s;
    font-family: serif monospace;
    font-weight: bolder;
    font-size: 4em;
    letter-spacing: -0.09em;
    color: var(--back1);
}

#title:hover {
    transition-duration:1s;
    letter-spacing: 0em;
}

a.activeMenuSection{
    color: var(--color2);
    font-size: 1.4em;
    text-decoration: none;
    text-shadow: 0px 0px 3px var(--back2);
}

#scrolling{
    background: linear-gradient(var(--color1), var(--color3));
}